// .gitignore
node_modules
dist
.env
.env.local
.env.development
.env.test
.env.production

# Make sure node_modules in any subdirectories are ignored too
**/node_modules/

// Prisma Client
prisma/generated

// Logs
logs

// Editor directories and files
.vscode
.idea
.DS_Store

// Optional npm cache directory
.npm


/docs